---
layout: default
---

<div class="home">
  <section class="post-list">
    {% for post in paginator.posts %}
    <article class="post-list-item" itemscope itemtype="http://schema.org/BlogPosting">
      <header>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" itemprop="name headline">{{ post.title }}</a></h2>
      </header>
      <section>
      <p><time datetime="{{post.date | date_to_xmlschema}}" class="post-meta" itemprop="datePublished">{{post.date | date:"%m/%d/%Y" }}</time></p>
      {% if post.cover and post.cover != "" %}
        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
        <figure itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
          <img itemprop="url" src="{{ post.cover }}" alt="{{post.title}}" />
        </figure>
        </a>
      {% endif %}
      <summary>
        <p>{{ post.excerpt | strip_html }}</p>
      </summary>
      </section>
      <footer class="read-more"><a href="{{ post.url | prepend: site.baseurl }}">Continue Lendo →</a></footer>
    </article>
    {% endfor %}
  </section>
  <div class="pagination site-margin-top">
    {% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path }}" class="previous">&lt;&lt;&nbsp;&nbsp; Anterior</a>
    {% else %}
        <span class="previous">&lt;&lt;&nbsp;&nbsp; Anterior</span>
    {% endif %}
    <span class="page_number ">Página : {{ paginator.page }} of {{paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Próximo &nbsp;&nbsp;&gt;&gt;</a>
    {% else %}
        <span class="next ">Próximo &nbsp;&nbsp;&gt;&gt;</span>
    {% endif %}
  </div>
</div>
